<header id="header">
    <div id="mobile-menu-close">
        <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <ul id="menu" class="shadow">
        <li>
            <a class="link-text" id="about-button"  >About</a>
        </li>
        <li>
            <a class="link-text" id="experience-button" >Experience</a>
        </li>
        <li>
            <a class="link-text" id="education-button" >Education</a>
        </li>
        <li>
            <a class="link-text" id="projects-button" >Projects</a>
        </li>
        <li>
          <a class="link-text" id="contact-button" >Achievements</a>
      </li>
      <li>
          <a class="link-text" id="contact-button" >Courses & Certificates</a>
      </li>
        <li>
            <a class="link-text" id="skills-button" >Skills</a>
        </li>
        <li>
            <a class="link-text" id="contact-button" >Contact</a>
        </li>
    </ul>
  </header>
  <!-- End header -->