    
    <mat-spinner *ngIf="isLoading" class="loading-spinner"> </mat-spinner>
    <form class="login-form"  (submit)="login(loginForm)" #loginForm="ngForm">
      <h1>Welcome</h1>
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput ngModel required name="userName" #userName="ngModel">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" required ngModel  #password="ngModel">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    
    <button class="login-button" type="submit" [disabled]="isLoading" mat-raised-button>Login</button>
    </form>
    
