<mat-card class="model-card">
    <form (submit)="updateBio()" [formGroup]="bioForm">

      <mat-card-content>
  
          <mat-form-field class="input-feild" appearance="fill">
            
          <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field class="input-feild" appearance="fill">
            <mat-label>LinkedIn Url</mat-label>
            <input matInput formControlName="linkedin">
          </mat-form-field>
          
          <mat-form-field class="input-feild" appearance="fill">
            <mat-label>Email Address</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          
          <mat-form-field class="input-feild" appearance="fill">
            <mat-label>Hackerrank</mat-label>
            <input matInput formControlName="hackerrank">
          </mat-form-field>

          <mat-form-field class="input-feild" appearance="fill">
            <mat-label>GitHub</mat-label>
            <input matInput formControlName="github">
          </mat-form-field>

          <mat-form-field class="input-feild" appearance="fill">
            <mat-label>About Me</mat-label>
            <textarea matInput formControlName="aboutme" > </textarea>
          </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button class="model-action-button" style="margin-left: 10px;"  type="submit" mat-mini-fab color="primary" >
                <mat-icon>save</mat-icon>
            </button>
        </mat-card-actions>
    </form>
</mat-card>
