<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
      <ng-container *ngIf="isLoading">
        <app-loader></app-loader>
      </ng-container>
  
      <ng-container *ngFor="let experience of experiences">
        <ng-container *ngIf="getBooleanFromString(experience.isActive)">
      <div class="vtimeline-point"><div class="vtimeline-icon"><i class="fa fa-map-marker"></i></div>
      <div class="vtimeline-block"><span class="vtimeline-date sub-header-text " style="margin-top: 50px;">{{experience.time}}</span>
        <div class="vtimeline-content">
          <p ><a class="header-text" href="{{experience.companyWebsite}}" target="_blank">{{experience.company}}</a></p>
          <p class="sub-header-text">{{experience.title}}</p>
          
          <ul style="margin-top: 30px;">
            <ng-container *ngFor="let des of getDesArray(experience.description)">
              <p>
                <li class="body-text" style="line-height: 1.25em;">{{des}}</li>
              </p>
            </ng-container>
          </ul>
      </div>
    </div>
  </div>
  </ng-container>
      </ng-container>
    </div>
  </div>
  
  