<div id="getInTouch" style="text-align: center;" >
    <h2 style="margin-bottom: 36px;">Get in Touch</h2>
  
  
    <ul style="margin-left: -45px; list-style-type: none;">
      
    <li> <a class="header-text email" id="email" (click)="copyEmail();" href="javascript:void(0);"></a> </li>

    <div id="snackbar">Copied Email Address</div>
          
    <li> <a class="header-text linkedin" href="{{bio.linkedin}}" target="blank" ></a> </li>
  
  
    <li> <a class="header-text hackerrank" href="{{bio.hackerrank}}" target="blank" ></a> </li>
    

  </ul>  
  
</div>