<div id="achievements">
    <h2 class="heading">Achievements</h2>

    <ng-container *ngIf="isLoading">
      <app-loader></app-loader>
    </ng-container>
    
  <ng-container *ngFor="let achievement of achievements">
    <div class="education-block" *ngIf="getBooleanFromString(achievement.isActive)">
      <div style="display: flex; justify-content: space-between;">
        <p class="header-text">{{achievement.title}}</p>
        <p class="sub-header-text">{{achievement.time}}</p>
      </div>
      
      <p class="body-text" style="margin-top: 32px;">{{achievement.description}}</p>
  
    </div>
  </ng-container>
  </div>