.admin-component {
    background-color: rgba(200, 250, 250, 0.219);
}

.header {
    margin-left: 50px;
    margin-top: 50px;

}

.card {
    max-width: 600px;
}
.input-feild {
    display: block;
}
.model-accordion {
    width: 450px;
    margin: 50px;
}
.model-card {
    margin: 20px;
    width: 400px;
}

.model-title {
    margin: 15px;
}
  
