<div class="admin-component">

  <h1 class="header">
    Welcome {{userName}}
  </h1>  

  <mat-accordion>
    <mat-expansion-panel  class="model-accordion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="model-title"> Bio </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <app-bio-admin></app-bio-admin>
    </mat-expansion-panel>
  </mat-accordion>
<mat-accordion>
  <mat-expansion-panel  class="model-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="model-title"> Skills </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <app-skills-admin></app-skills-admin>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel  class="model-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="model-title"> Education </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <app-education-admin></app-education-admin>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel  class="model-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="model-title"> Achievement </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <app-admin-achievement></app-admin-achievement>
  </mat-expansion-panel>
</mat-accordion>
    
<mat-accordion>
  <mat-expansion-panel  class="model-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="model-title"> Experience </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <app-experience-admin></app-experience-admin>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel  class="model-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="model-title"> Course </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <app-course-admin></app-course-admin>
  </mat-expansion-panel>
</mat-accordion>
    

<mat-accordion>
  <mat-expansion-panel  class="model-accordion">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="model-title"> Projects </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
   <app-project-admin></app-project-admin>
  </mat-expansion-panel>
</mat-accordion>
</div>
 
