<div class="project-page-header background-alt" id="lead">
    
  <p class="header-text" style="text-align: center;">{{project.title}}</p>

  <ng-container *ngIf="isLoading">
    <app-loader></app-loader>
  </ng-container>
    
  <p class="sub-header-text" style="text-align: center; margin-top: 48px;">Technologies Used</p>
  <div class="card-container">
    <div class="card" *ngFor="let skill of getSkillsArray(project.skills)">
      <p class="sub-header-text">{{ skill }}</p>
    </div>
  </div>  
</div>
  
  <div class="container project-page-contents" style="margin-top: 16px;">
    <div class="row">

      <p><a class="link-text" routerLink="/" routerLinkActive="active">Back to homepage</a></p>
      
      <p class="header-text" style="margin-top: 48px;">Overview</p>
      <p class="body-text">
        {{project.description}}
      </p>
  
      <p style="margin-top: 32px;" class="header-text">Screenshots</p>

      <img class="img-responsive" src="{{project.mainImage}}"  />
      <br/>
      <img *ngIf="checkSSAvailable(project.ss1)" class="img-responsive" src="{{project.ss1}}"/>
      <img *ngIf="checkSSAvailable(project.ss2)" class="img-responsive" src="{{project.ss2}}"/>
      <img *ngIf="checkSSAvailable(project.ss3)" class="img-responsive" src="{{project.ss3}}"/>
      <img *ngIf="checkSSAvailable(project.ss4)" class="img-responsive" src="{{project.ss4}}"/>
      <img *ngIf="checkSSAvailable(project.ss5)" class="img-responsive" src="{{project.ss5}}"/>

    </div>
  </div>
