<div class="project-page-header background-alt" id="lead">
    <h1>{{project.title}}</h1>
  
    <div class="card-container">
      <div class="card card-small" style="padding: 32px;" *ngFor="let skill of getSkillsArray(project.skills)" >
        <span>{{ skill }}</span>
      </div>
    </div>
  
  </div>
  
  <div class="container project-page-contents">
    <div class="row">
      <p><a routerLink="/" routerLinkActive="active">Back to homepage</a></p>
      
  
      <h2>Overview</h2>
      <p>
        {{project.description}}
      </p>
  
      <h2>Screenshots</h2>

      <img class="img-responsive" src="{{project.mainImage}}"  />
      <img *ngIf="checkSSAvailable(project.ss1)" class="img-responsive" src="{{project.ss1}}"/>
      <img *ngIf="checkSSAvailable(project.ss2)" class="img-responsive" src="{{project.ss2}}"/>
      <img *ngIf="checkSSAvailable(project.ss3)" class="img-responsive" src="{{project.ss3}}"/>
      <img *ngIf="checkSSAvailable(project.ss4)" class="img-responsive" src="{{project.ss4}}"/>
      <img *ngIf="checkSSAvailable(project.ss5)" class="img-responsive" src="{{project.ss5}}"/>

    </div>
  </div>
  
  <app-footer></app-footer>    