<div id="skills" class="background">
    <h2 class="heading">Skills</h2>

    <ng-container *ngIf="isLoading">
      <app-loader></app-loader>
    </ng-container>

    
    <div class="card-container">
      <ng-container *ngFor="let skill of skills">
        <ng-container *ngIf="getBooleanFromString(skill.isActive)">
        <div class="card">
            <p class="sub-header-text">{{ skill.name }}</p>
        </div>
      </ng-container>
      </ng-container>
    </div>
</div>
<!-- End #skills -->



